@import './quasar.variables'
@import '~quasar-styl'
// @import '~quasar-addon-styl'



// ################################# // 
// Default CSS settings
// ################################# // 

body {
    // font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
    color: #505962;
    /* background: #000058!important; */
    background: #eeeeee!important;
}


// ################################# // 
// This is creating white background just like quasar one.
// whenever you want to create an html element you can use this class
// to wrap the element
// ################################# // 

.getWhiteBackground {
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


// ################################# // 
// Add margin to elements
// margin-> top, right ,bottom ,left
// ################################# // 

.buttonMargin {
    margin: 15px 5px 0px 0px;
}

.actions {
    margin: 20px;
}

.q-breadcrumbs {
  margin: 30px 0 12px 0;
}

.apexchart {
    margin: 40px 10px 0 0;
}

