@import './quasar.variables'
@import '~quasar-styl'
// @import '~quasar-addon-styl'

body {
    // font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
    color: #505962;
    /* background: #000058!important; */
    background: #eeeeee!important;
}


.getWhiteBackground {
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.buttonMargin {
    margin: 15px 5px 0px 0px;
    }

    .actions {
        margin: 20px;
        }